.Doc_reg_form{
    width: 100%;
    height: auto;
}

.Doc_input_box{
    width: 25.25rem;
    height: 3.6875rem;
    border-radius: 0.875rem;
    border: 1px solid #000;
    overflow: hidden;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
#DRP_btn{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DRP_submit_btn{
    width:  19.9375rem;
    height: 6.6875rem;
    border-radius: 0.8125rem;
    outline: none;
    border: none;
    transition: all 0.5s ease-in-out cubic-bezier(0.23, 1, 0.320, 1);
    background: radial-gradient(182.7% 134.21% at 97.4% 6.15%, rgba(52, 83, 129, 0.44) 0%, #378493 26.04%, #146480 49.48%, #42869E 69.27%, rgba(30, 71, 85, 0.74) 87.5%, rgba(236, 250, 252, 0.85) 100%);
}
.DRP_submit_btn:hover{
    background: #146480;
}
.DRP_submit_btn span{
    color: var(--Basic-White, #FFF);
    font-family: Inria Serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 
#DRP_form div h1{
    color: #000;
    font-family: Inria Serif;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 7rem;
}
.Doc_box label {
    color: #000;
    font-family: Inria Serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Doc_box label span{
    color: #F90000;
    font-family: Inria Serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.Doc_input_box select{
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: large;
}
.Doc_input_box select option{
    border-radius: 0.4375rem;
    background: #005473;
    color: #ffff;
}
.Doc_box{
    margin-left: 5rem;
    margin-top: 3rem;
}
#DRP_line{
    width: 100%;
    height: 0.0625rem;
    background: rgba(0, 0, 0, 0.15);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.Doc_input_box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: large;
    background:none;

}
.DRP_form_deta{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    

}
.pdf{
    width: 2.1875rem;
    height: 1.91406rem;
}
@media screen and (max-width: 768px) {
    .Doc_box{
        margin-left: 0;
        width: 100vw;
        padding: 1rem;
    }
    .DRP_form_deta{
        display: flex;
        flex-direction: column;
    }
    
    .Doc_input_box{
        width: 100%;
        
    }

}