#Set_t_d{
    width: 100%;
    height: auto;
    background:none;
}
#set_day_btn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 5px;
    justify-content: start;
}
.day_btn{
    border-radius: 0.875rem;
    background: radial-gradient(182.7% 134.21% at 97.4% 6.15%, rgba(52, 83, 129, 0.44) 0%, #378493 26.04%, #146480 49.48%, #42869E 69.27%, rgba(30, 71, 85, 0.74) 87.5%, rgba(236, 250, 252, 0.85) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.day_btn span{
    color: var(--Basic-White, #FFF);
    font-family: Inria Serif;
    font-size: 15px;
    padding: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.select_day{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    margin: 1vw 1vw;
}
.select_day p{
    background: #378493;
    color: #FFF;
    padding: 15px;
    border-radius: 1vw;
}
.set_time_select{
    border: none;
    width: 9.5rem;
    height: 2.75rem;
    border-radius: 0.875rem;
    border: 1px solid #005473;
    display: flex;
    align-items: center;
    justify-content: center;
}
.set_time_select select{
    border: none;
    width: 70%;
    outline: none;
} 
.set_time_select input{
    width: 80%;
    height: 90%;
    outline: none;
    border: none;
}
.set_day_time_form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    gap: 1vw;
    margin-top:1vw ;
    margin-left: 1vw;
}
.set_save_btn{
    width: 11vw;
    height: 4.4375rem;
    border-radius: 0.875rem;
    outline: none;
    border: none;
    color: var(--Basic-White, #FFF);
    font-family: Inria Serif;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: radial-gradient(182.7% 134.21% at 97.4% 6.15%, rgba(52, 83, 129, 0.44) 0%, #378493 26.04%, #146480 49.48%, #42869E 69.27%, rgba(30, 71, 85, 0.74) 87.5%, rgba(236, 250, 252, 0.85) 100%);
}
.set_header{
    color: #000;
    font-family: Inria Serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1.5vw;
}